---
layout: default
---

<div class="column articles">
  {% for n in site.posts %}
    <div class="row">
      <div class="info-articles">
        <p class="category">Nouvelle</p>
        <a href="{{ n.url }}" class="hover-cta"><h2>{{ n.title }}</h2></a>
        <p class="date">{{ n.date | date: "%d/%m/%Y" }}</p>
        {% include author.html author_name=n.author %}
        {% include tag.html tags=n.tags %}
      </div>
      <div class="excerpt-articles">
        {{ n.excerpt | markdownify | replace: " »", "&nbsp;»"| replace:"« ", "«&nbsp;"| replace:" ?", "&nbsp;?"| replace:" !", "&nbsp;!" }}
        <a href="{{ n.url }}" class="soft-link">Lire la suite </a>
      </div>
    </div>
  {% endfor %}
</div>
<div class="column">
  <h2>Tags</h2>
  <p class="category">catégories et tags</p>
    <div class="tag-list">
      {% for tag in site.tags %}
        <a href="{{ tag.url }}" class="tag big">{{ tag.name }}</a>
      {% endfor %}
    </div>
  <a href="tags.html" class="soft-link">&rarr;Tous les tags</a>
</div>
<div class="column">
  <h2>Auteurs</h2>
  <p class="category">tous les auteurs</p>
  <div class="row wrap">
    {% for a in site.authors limit: 10 %}
      <a class="profil-index" href="{{ a.url }}">
        <img src="/assets/images/profil/{{ a.name|downcase }}.png">
        <p class="little">{{ a.name }}</p>
      </a>
    {% endfor %}
  </div>
  <a href="auteurs.html" class="soft-link">&rarr;Tous les auteurs</a>
</div>
