---
layout: default
---

<div class="container">
  <div class="row">
    {% assign recent = site.posts.first %}
    <div class="col-lg-6 recent">
      <a href="{{ recent.url }}" class="hover-cta">
        <img src="{{ recent.img }}" class=" img-fluid">
        <h2>{{ recent.title }}</h2>
      </a>
        {% assign author = site.authors | where: 'name', recent.author | first %}
        <p class="date">{{ recent.date | date: "%d/%m/%Y" }} par {% include author.html %}</p>
        <p>{{ recent.excerpt }}</p>
        {% for tag in recent.tags %}
          <a href="" class="tag">{{ tag }}</a>
        {% endfor %}
        <a href="{{ recent.url }}" class="cta {{ recent.tags[0] }}">Lire l'article &rarr;</a>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <a href=""><h2>Tous les articles</h2></a>
      {% for p in site.posts offset:1 %}
        <div class="col-lg-12 articles {{ p.classe }}">
          <div class="col-lg-9">
            <a href="{{ p.url }}"><h4 class="{{ p.classe }}">{{ p.title }}</h4></a>
            <div class="date">{{ p.date | date: "%d/%m/%Y" }}</div>
            <div class="contact">
              {% assign author = site.authors | where: 'name', p.author | first %}
              par {% include author.html %}
            </div>
            {% for tag in p.tags %}
              <a href="" class="tag">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div>
        <h3 class="inline">À propos</h3>
      </div>
        {% include hysteresis.html %}
        <p>Maecenas eu diam a leo porta interdum. In non massa quis odio feugiat sagittis. Quisque ac lorem. Maecenas ut sem sed ipsum suscipit malesuada. Nulla quis dui quis ante fermentum interdum. Proin eget est a augue vehicula mattis. Pellentesque sed nisi at nisi scelerisque iaculis. Phasellus orci. Nulla adipiscing. Suspendisse et leo vel elit ullamcorper gravida. Proin tempor, ligula ut tincidunt tempor, mauris nibh feugiat odio, nec tincidunt erat orci dictum purus. Etiam luctus odio. Aliquam adipiscing urna a felis. Quisque sed elit in eros aliquet ultrices. Donec at sem. Vestibulum cursus. Integer dolor. Vestibulum sit amet sem nec augue fermentum consectetuer. Integer justo. Vivamus vel sapien. Praesent nisl tortor, laoreet eu, dapibus quis, egestas non.</p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <div class="row">
        <div class="col-lg">
          <h3><a href="">Tags</a></h3>
          {% for tag in page.tags %}
            <a href="" class="tag">{{ tag }}</a>
          {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <h3><a href="">Auteurs</a></h3>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <img src="../assets/images/newsletter.jpg" class="img-fluid">
  </div>
</div>