---
---

$vert1: #00A071;
$vert2: #A0DBA9;
$jaune: #F5DF4E;
$gris: #B5B5B5;
$gris2:#454545;
$body-color: #626262;
$hover-color: #272727;
$font-texte: 'Montserrat', sans-serif;
$font-title: 'Oswald', sans-serif;
$bold-title: 600;
$regular-title: 400;

.margin-bot{margin-bottom: 2em;}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  text-align: center;
}
.flex{
  display: flex;
  flex-direction: column;
}
.wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body{
  font-family: $font-texte;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
p{
  color: $body-color;
  font-size: 1.2em;
  margin-bottom: 1em;;
  &.mini{
    font-size: 0.9em;
  }
}

.lettrine p:first-child{
  &::first-letter{
    font-size: 130%;
    font-family: $font-title;
  }
}

h1,h2,h3,h4,h5{
  font-family: $font-title;
  font-weight: 700;
  color: #000;
}

.inline{
  display: inline-block;
}

a{
  text-decoration: none;
  color:$vert1;
  font-weight: 600;
  transition: all cubic-bezier(.39,.3,.46,.86) 0.2s;
  &:hover{text-decoration: none; color: $vert2;}
}
 a h2,a h3, h3,a h4,a h5{
  background-position: 0 80%;
  background-repeat: repeat-x;
  background-size: 5px 5px;
  transition: all .2s ease-out;
  display: inline;
  margin-bottom: 1em;
  color: #000;
}

h2{font-weight: $bold-title;font-size:3em;}
a h2{
    background-image:
     linear-gradient(
       to bottom, $jaune 0%,
       $jaune 100%
     );
    &:hover{
      background-size: 5px 50px;
      background-position: 0 70%;
    }
}
h3{font-size: 2.2em;}
a h3{
  background-image:
   linear-gradient(
     to bottom, $vert2 0%,
     $vert2 100%
   );
  &:hover{
    background-size: 5px 45px;
    background-position: 0 70%;
  }
}
h4{font-weight: $bold-title;font-size: 1.8em;}
a h4{
  background-image:
   linear-gradient(
     to bottom, $vert1 0%,
     $vert1 100%
   );
  &:hover{
    background-size: 5px 35px;
    background-position: 0 60%;
    color: #fff;
  }
}

.category{
  font-family: $font-texte;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 0.8em;
  margin-top: 1em;
  color: $gris;
}

.soft-link{
  font-family: $font-texte;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.85em;
  margin: 1em 0;
  padding: 0.5em 0.2em;
  color: $gris;
  font-weight: 600;
  transition: all cubic-bezier(.39,.3,.46,.86) 0.5s;
  display: inline-flex;
  &:hover{
    color: $vert1;
  }
}

.icon-big{
  width: 300px;
  border-bottom: 2px solid #eee;
  padding:0 5em 2em 5em;
  margin-bottom: 1em;
}
.icon{
  width: 80px;
  display: block;
}

.link-title{
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    font-size: 1em;
    margin-top: 1em;
    color: $gris2;
}

.stick{
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}
.navbar{
  padding: 0;
  .navbar-collapse{justify-content: flex-end;}
  .navbar-nav a.nav-link{
    font-family: $font-title;
    font-variant-caps: small-caps;
    font-size: 1.3em;
    color: $vert1;
    transition: color .2s ease-out;
    &.active{
      color: $jaune;
    }
    &:hover{
      color: $vert2;
    }
  }
  .navbar-brand{
    float: left;
    img{
    height: 60px;
    display: block;
    }
  }
}
.navbar-brand{font-family: $font-title; font-size: 3em;}
.navbar-expand-lg .navbar-collapse{padding-left: 4em;}

.date{
  margin-top: 0.5em;
  font-family: $font-texte;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.hysteresis{
  img{
    width: 200px;
    padding-right:1em;
  }
}

.tag-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  a.tag{
    padding:0.1em 0.5em 0.2em 0.5em;
    color: $gris2;
    font-family: $font-title;
    font-size:1em;
    margin-right: 0.5em;
    background-image:
     linear-gradient(
       to bottom, $jaune 0%,
       $jaune 100%
     );
    background-position: 100% 0;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: all .2s ease-out;
    &.big{font-size: 1.3em;margin-bottom: 1em;}
    h4{background-image: none; &:hover{color: #000;}}
    &:hover{
      background-size: 5px 100px;
      border-radius: 100%;
    }
  }
}

.articles{
  padding: 1em 0;
  border-top: #eee 2px solid;
  display: flex;
  flex-direction: column;
}
.nouvelles, .breves{
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.nouvelles{border-top: $vert2 2px solid;}
.breves{border-top: $vert1 2px solid;
  h3{background-image:
   linear-gradient(
     to bottom, $vert1 0%,
     $vert1 100%
   );
  &:hover{color: #fff;}
  }
 }

.list-auteurs{
  display: flex;
  flex-direction: column;
  align-items:stretch;
  border-top: $vert2 2px solid;
  margin-bottom: 1em;
}
.align-center{
  display: grid;
  align-items:center;
}
p>a.profil-auteur{
  display: inline-block;
  margin-left: 0.5em;
  transition: all cubic-bezier(.39,.3,.46,.86) 0.2s;
  &:hover{
    color: $vert1; letter-spacing: 0.05em;
  }
}

a.profil-auteur, a.profil-index{
  .round{
    border: #000 4px solid;
    display: block;
    position: absolute;
    z-index: 2;
    margin-top: 0.3em;
    margin-left: 0.3em;
    transition: all cubic-bezier(.39,.3,.46,.86) 0.2s;
  }
  img{
    z-index: 1;
    position: relative;
    opacity: 0.8;
    filter: grayscale(100%);
    transition: all cubic-bezier(.39,.3,.46,.86) 0.2s;
  }
  h3{
    background-image:
     linear-gradient(
       to bottom, $vert2 0%,
       $vert2 100%
     );
    transition: all cubic-bezier(.39,.3,.46,.86) 0.2s;
    }
    p.description{display: inline-block; margin-left: 1em;transition: all cubic-bezier(.39,.3,.46,.86) 0.2s;}
  &:hover{
    .round{
      margin-left: 0;
      margin-top: 0;
      border: $vert2 4px solid;
      border-radius: 50%;
    }
    img{opacity: 1;}
    h3{
      background-size: 5px 45px;
      background-position: 0 70%;
    }
    p.description{color: $vert2;letter-spacing: 0.2em;;}
  }
}

a.profil-index{
  padding: 0.5em 1em;
  .round{
    width: 50px;
    height: 50px;
  }
  img{width: 50px;}
  h3{margin-left: 0.6em;}
  p.little{display: block; margin-left: 0; margin-top: 0.5em;}
  &:hover{
    p.little{color: $vert2;}
  }
}

a.profil-auteur{
  .round{
    width: 76px;
    height: 76px;
  }
  img{width: 76px;}
  h3{
    display: block;
  }
}

.profil{
  margin-bottom:1em;
  p{min-height:5em;margin-top: 1em}
}

img.img-tag{width: 50%;}

footer{
  border-top: #eee solid 2px;
  margin-top: auto;
  padding-top:1em;
  p{margin-bottom: 0.2em;}
  a{font-family: $font-title; font-size: 1.2em; color: $gris;}
}

/*Scroll true*/
.header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  background-color: #f1f1f1;
}
.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: linear-gradient(0.25turn, $jaune, $vert2, $vert1);
  width: 0%;
}