---
layout: default
---

<div class="body">
  <div class="container">
    <h2>{{ page.name }}</h2>
    {{ content }}
    <div class="row wrap">
        {% assign list_posts = site.posts | where: "author", page.name %}
        {% for p in list_posts %}
          <div class="list-auteurs">
            <a href="{{ p.url }}"><h3>{{ p.title }}</h3></a>
            {% if p.published_date %}
              <div class="date">{{ p.published_date | date: "%d/%m/%Y" }} | {{ p.content|size|divided_by:6|divided_by:250|round}} minutes</div>
            {% else %}
              <div class="date">{{ p.date | date: "%d/%m/%Y" }} | {{ p.content|size|divided_by:6|divided_by:250|round}} minutes</div>
            {% endif %}
            {% include author.html author_name=p.author %}
            {% include tag.html tags=p.tags %}
          </div>
        {% endfor %}
    </div>
    <a href="/auteurs.html" class="soft-link">Tous les auteurs</a>
  </div>
</div>
