---
layout: default
---

<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>{{ page.name }}</h2>
        <p class="description">{{ page.description }}</p>
        <div class="row">
            {% assign list_pages_a = site.pages | where: "author", page.name %}
            {% assign list_posts_a = site.posts | where: "author", page.name %}
            {% assign list_a = list_pages_a | concat: list_posts_a | sort: "date" | reverse %}
            {% for p in list_a %}
            <div class="col-lg-6">
              <div class="list-auteurs">
                <a href="{{ p.url }}"><h3>{{ p.title }}</h3></a>
                <div class="date">{{ p.date | date: "%d/%m/%Y" }}</div>
                {% include author.html author_name=p.author %}
                <div class="tag-list">
                  {% for tag in p.tags %}
                    <a href="" class="tag">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>