---
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Oswald:wght@300;400;600&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/design.css">
    {% if page.title %}
      <title>{{ page.title }} | Hystéresis</title>
    {% else %}
      <title>Hystéresis</title>
    {% endif %}
    <script async defer data-domain="hysteresis" src="https://t.neamar.fr/js/pls.js"></script>
  </head>
  <body>
    {% if page.scroll %}
    <div class="header">
      <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
      </div>
    </div>
    {% endif %}
    <div class="container stick">
      <nav class="navbar">
        <a class="navbar-brand" href="/index.html">
          <span>ystérésis</span>
        </a>
        <!-- <div class="navbar-nav">
          <a class="nav-item nav-link" href="/tags.html">Tags</a>
          <a class="nav-item nav-link" href="/auteurs.html">Auteurs</a>
        </div> -->
      </nav>
    </div>
    <div class="main-content">
      {{ content }}
    </div>
    <footer>
      {% include contact.html %}
    </footer>
    {% if page.scroll %}
    <script type="text/javascript">
      window.addEventListener('scroll', function scroll() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("progress-bar").style.width = scrolled + "%";
      });
    </script>
    {% endif %}
  </body>
</html>
