---
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/design.css">

    <title>Hystérésis</title>
  </head>
  <body>
    <nav>
      <a class="navbar-brand" href="/index.html"><img src="/assets/images/svg/logo.svg"></a>
    </nav>
      {{ content }}

    <footer>
      <a href="/index.html"><img src="/assets/images/svg/logo.svg"></a>
      <a href="">À propos</a>
      <a href="auteurs.html">Auteurs</a>
    </footer>
  </body>
</html>