---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-lg-9 offset-lg-2">
      <img src="{{ page.img }}" class="img-fluid">
      <h2 class="{{ page.tags[0] }} color">{{ page.title }}</h2>
        {% assign author = site.authors | where: 'name', page.author | first %}
          <p>par {% include author.html %}</p>
        <p class="date">{{ page.date | date: "%d/%m/%Y" }}</p>
        <div class="tag">
            <a href="" class="tag {{ page.tag }}">{{ page.tag }}</a>
        </div>
        {{ content }}
    </div>
    <div class="col-lg-4">
      {% include hysteresis.html %}
      {% for p in site.posts offset:1 %}
        <div class="col-lg-12 articles {{ p.classe }}">
          <div class="col-lg-9">
            <a href="{{ p.url }}"><h5 class="{{ p.classe }}">{{ p.title }}</h5></a>
            <div class="date">{{ p.date | date: "%d/%m/%Y" }}</div>
            <div class="contact">
              {% assign author = site.authors | where: 'name', p.author | first %}
              par {% include author.html %}
            </div>
            {% for tag in p.tags %}
              <a href="" class="tag {{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>