---
layout: default
scroll: true
---

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="center">
        <a href="/nouvelles/index.html"><img src="/assets/images/svg/nouvelles.svg" class="img-fluid icon-big"></a>
        <p class="category">Écrits et nouvelles</p>
        <h1>{{ page.title }}</h1>
        <p class="date">{{ page.published_date | date: "%d/%m/%Y" }}</p>
        <div class="tag-list">
          {% for tag in page.tags %}
            <a href="" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
        <p class="category">Auteur</p>
        {% include author.html author_name=page.author %}
      </div>
      <div class="lettrine">
        {{ content }}
      </div>
      <div class="center">
        <p class="category">Auteur</p>
        {% include author.html author_name=page.author %}
        <p class="category">Correcteur</p>
        {% for r in page.reviewers %}
          {% include author.html author_name=r %}
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4 offset-lg-2">
      <div class="center">
        <img src="/assets/images/svg/auteurs.svg" class="icon">
        <h4 class="link-title">Du même auteur</h4>
      </div>
        <div class="row">
          {% assign nouvelles = site.pages | where: "layout", "short-story" | sort: "date" | reverse %}
          {% for n in nouvelles limit: 3 %}
            {% if page.title != n.title and page.author == n.author %}
              <div class="col-lg-12 nouvelles">
                <a href="{{ n.url }}"><h3>{{ n.title }}</h3></a>
                <div class="date">{{ n.published_date | date: "%d/%m/%Y" }}</div>
                {% include author.html author_name=n.author %}
                {% include tag.html tags=n.tags %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <div class="col-lg-4">
      <div class="center">
        <img src="/assets/images/svg/nouvelles.svg" class="icon">
        <h4 class="link-title">Autres nouvelles</h4>
      </div>
        <div class="row">
          {% assign nouvelles = site.pages | where: "layout", "short-story" | sort: "date" | reverse %}
          {% for n in nouvelles limit: 3 %}
            {% if page.title != n.title and page.author != n.author %}
              <div class="col-lg-12 nouvelles">
                <a href="{{ n.url }}"><h3>{{ n.title }}</h3></a>
                <div class="date">{{ n.published_date | date: "%d/%m/%Y" }}</div>
                {% include author.html author_name=n.author %}
                {% include tag.html tags=n.tags %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</div>